<!DOCTYPE html>
{%  load static  %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Contact Form</title>
    <link rel="stylesheet" type="text/css" href="{% static '/stylesheet.css' %}" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;600&display=swap" rel="stylesheet">
  </head>
  <body>
    
    <form method="post" action="mail">
      <div class="title">
        {% csrf_token %}
        <h2>OUTLOOK MAIL</h2>
      </div>
      <div class="half">
        <div class="item">
          <label for="usermail">USER MAIL</label>
          <input type="text" id = "usermai" name="usermail" placeholder="From mail">
        </div>
        <div class="item">
          <label for="password">USER PASSWORD</label>
          <input type="text" id = "password" name="password"  placeholder="Enter your password">
        </div>
      </div>
      <div class="half">
        <div class="item">
          <label for="tomail">TO MAIL</label>
          <input type="text" id = "emai" name="email"  placeholder="To mail">
        </div>
        <div class="item">
          <label for="subject">SUBJECT</label>
          <input type="text" id = "nam" name="subject" placeholder="Enter subject">
        </div>
      </div>
      <div class="full">
        <label for="message">MESSAGE</label>
        <textarea id = "messag" name="message"  placeholder="Enter message"></textarea>
      </div>
      <div class="action">
        <input type="submit" value = "SEND MESSAGE">
      </div>

    </form>
  </body>
</html>